.project-title {
  text-align: center;
  margin-top: 50px;
  color: #fff;
  margin-bottom: 50px;
}

main {
  background-color: #f9f9f9;
  padding-bottom: 20px;
}

.project-main {
  width: 100%;
  max-width: 720px;
  min-height: 600px;
  background-color: #f9f9f9;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.project-main > p {
  /* text-align: center; */
  margin: 0 10px;
}

.project-photo1,
.project-photo2,
.project-photo3 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.project-photo1 > img {
  max-height: 250px;
  border: solid black 2px;
}

.project-photo2 > img {
  max-height: 250px;
  border: solid black 2px;
}
.project-photo3 > img {
  max-height: 250px;
  border: solid black 2px;
}
