body {
  /* background-color: #4da3ff !important; */
  background-color: #007bff !important;
  height: 100vh;
}

/* intro/name section */
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e8eef1;
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 0.5s forwards;
}

.intro h1 {
  font-size: 5em;
  margin: 0;
  text-transform: uppercase;
}

.intro h2 {
  margin-bottom: 5px;
}

.intro h4 {
  margin-top: 0;
}

.intro .icons a {
  color: inherit;
  margin: 5px;
}

.intro .icons a i.fa-twitter:hover {
  color: #1da1f2;
}

.intro .icons a i.fa-linkedin:hover {
  color: #8d6cab;
}

.intro .icons a i.fa-github:hover {
  color: #bd2c00;
}

/*animations*/
@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

/* end intro/name section */
/* start project list section */
#worked {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
.project-list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  justify-items: center;
}

.project-img {
}

a img {
  position: absolute;
  top: 25%;
  left: 35%;
  display: block;
  height: 150px;
  width: 150px;
}

.panel {
  position: relative;
  min-height: 270px;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.2s ease;
}

.panel:hover .overlay {
  height: 15%;
}

.panel-description {
  color: white;
  width: 100%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 1050px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 580px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
.project1,
.project6 {
  background-color: black;
}
.project2 {
  background-color: white;
}
.project3 {
  background-color: #fd6a02;
}

.project4 {
  background-color: grey;
}

.project5 {
  background-color: white;
}

/* end project list section */
/* start help section */
.help {
  padding: 20px;
  min-height: 350px;
  text-align: center;
  background-color: #f9f9f9;
}

.help > h4 {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

/* end help section */
.block {
  height: 50px;
}

/*footer*/

footer {
  /* position: absolute;
  right: 0;
  bottom: 0;
  left: 0; */
  height: 225px;
  background-color: #1e3d58;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

footer p {
  text-align: center;
  margin-top: 80px;
  color: #5e738a;
}

footer .footer-icons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer .footer-icons i {
  margin: 10px;
  color: #fff;
}

footer .footer-icons i.fa-twitter:hover {
  color: #1da1f2;
}

footer .footer-icons i.fa-linkedin:hover {
  color: #8d6cab;
}

footer .footer-icons i.fa-github:hover {
  color: #bd2c00;
}

/* login stuff */
.login-form {
  width: 340px;
  margin: 50px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}
